[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppet/modules/yum"]
	path = puppet/modules/yum
	url = https://github.com/thbe/puppet-yum.git
[submodule "puppet/modules/staging"]
	path = puppet/modules/staging
	url = https://github.com/nanliu/puppet-staging.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
