[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/staging"]
	path = puppet/modules/staging
	url = https://github.com/nanliu/puppet-staging.git
[submodule "puppet/modules/thruk"]
	path = puppet/modules/thruk
	url = https://github.com/Karen09/puppet-thruk.git
